{% assign banner = shop.metaobjects.banner.first %}
{% assign images = banner.images %}

<style>
.advert { 
  max-width: 1440px;
  margin: 0 auto;
}

.advert a {
  width: 100%;
  font-size: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 15px 0;
}

@media screen and (min-width: 768px) {
  .advert a {
    font-size: 25px;
  }
}
</style>

<div class="advert">
    <a href="{{ section.settings.external }}" class="button button--primary">
      {{ section.settings.text }}
    </a>
</div>


{% schema %}
{
  "name": "Advert",
  "settings": [
    {
      "type": "text",
      "label": "Text",
      "id": "text",
      "default": "Offers now on. Book Now!"
    },
    {
      "type": "url",
      "label": "External Link",
      "id": "external"
    }
  ],
  "presets": [
    {
      "name": "Advert"
    }
  ]
}
{% endschema %}
