{% layout 'theme' %}

<body class="page-reviews">
  <section id="shopify-section-template--{{ section.id }}" class="full-width-section">
    
    <div class="shopify-section full-width-container">
      <div class="text-content">
        <h1>Reviews</h1>
        <p>
          At Goldcrest Blinds, we understand that selecting the perfect window treatments is an investment in your home.
          That's why we are committed to providing expert guidance, unparalleled customer service, and the highest quality blinds, 
          all at competitive prices. We believe our customers' experiences speak volumes.
        </p>
        <p>
          To truly understand the Goldcrest difference, we invite you to explore our verified customer reviews 
          on Trustpilot and Google. Discover why homeowners in Stirling and the surrounding areas trust Goldcrest Blinds 
          to enhance their living spaces.
        </p>
      </div>

      <!-- Trustmary Widget (Full Width) -->
      <script src="https://widget.trustmary.com/Sw6OLzKqI"></script>
 

    </div>

  </section>